{
  "target": "bmv2",
  "p4info": "build/int_md.p4.p4info.txtpb",
  "bmv2_json": "build/int_md.json",
  "table_entries": [
    {
      "table": "MyIngress.l3_forward.ipv4_lpm",
      "match": { "hdr.ipv4.dst_addr": ["10.0.1.1", 32] },
      "action_name": "MyIngress.l3_forward.ipv4_forward",
      "action_params": {
          "dstAddr": "00:00:00:{N_HEX}:{N_MINUS_1_HEX}:00",
          "srcAddr": "00:00:00:{N_MINUS_1_HEX}:{N_HEX}:00",
          "port": 1
       }
    },
    {
      "table": "MyIngress.l3_forward.ipv4_lpm",
      "match": { "hdr.ipv4.dst_addr": ["10.0.35.35", 32] },
      "action_name": "MyIngress.l3_forward.ipv4_forward",
      "action_params": {
          "dstAddr": "00:00:00:{N_HEX}:{N_PLUS_1_HEX}:00",
          "srcAddr": "00:00:00:{N_PLUS_1_HEX}:{N_HEX}:00",
          "port": 2
       }
    },
     {
      "table": "MyEgress.process_int_transit.tb_int_insert",
      "default_action": true,
      "action_name": "MyEgress.process_int_transit.init_metadata",
      "action_params": { "node_id": {N} }
    }
  ]
}
